/* .=class, #=id,  'name'=tag :=effect*/

body {
    min-width: 375px;
}

div.wrapper{
    background-color:hsla(200, 100%, 80%, 0.603);
    padding: 10px;
    margin: 10px;
}

img.card-img-top-profile{
    width: 100px;
    height: 100px;
}

nav{
    margin: 0px 10px;
    background-color:hsl(244, 80%, 50%);
}

#navbarSupportedContent{

    flex-grow: 0.5;
    color: azure;   
}


a.nav-link{
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
    margin: 0px 20px 0px 20px;
}

a.nav-link.active{
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
    margin: 0px 20px 0px 20px;
}

.nav-item:hover{
    background-color:hsl(200, 100%, 80%);
    font-size: 20px;
    color: azure;
}

.navbar {
    margin: 0;
    color: azure;
    background-color:hsl(244, 80%, 50%);
}

.jumbotron{
    color: azure;
    background-color:rgb(63, 98, 168);
    padding: 20px 20px;
}

.jumbotron:hover{
    color: azure;   
    padding: 20px 20px;
    background-color:hsl(244, 80%, 50%);
}




.impressum{
    color: azure;
}

.footer-item{
    padding: 0px 10px;
}

h4.guestbook{
    font-family: cursive;
    text-align: center;
}
.panel-body{
    
    color: azure;
    background-color:rgb(63, 98, 168);
    padding: 20px;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 500px;
    margin: auto;
}